.card {
  display: flex;
  flex-direction: column;
  background-color: gold;
  cursor: pointer;
  outline: none;
  text-align: start;
  padding: 1rem;
  border: solid lightgray 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.card .savedAs {
  font-size: smaller;
  text-wrap: wrap;
  color: gray;
}

.card.selected {
  background-color: darkblue;
  color: white;
}

.card:hover {
  opacity: 0.95;
  transform: translateY(-0.25rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}
